!!! 5

%html
  %head
    %title London live bus info
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}


    %link{'rel' => 'stylesheet', 'href' => 'http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css'}
    %script{'type' => 'text/javascript', 'src' => 'http://code.jquery.com/jquery-1.6.2.min.js'}
    %script{'type' => 'text/javascript', 'src' => 'http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js'}

  %body
    #stop-list{'data-role' => 'page'}
      %div{'data-role' => 'header'}
        %h1 My Stops
      %div{'data-role' => 'content'}
        %ul.stops
          - stops.each do |stop|
            %li.stop
              %a{:href => "\#stop_#{stop[:stop_id]}"}
                ="#{stop[:name]} (#{stop[:stop_letter]})"
    - stops.each do |stop|
      %div{:id => ['stop', stop[:stop_id]], 'data-role' => 'page'}
        %div{'data-role' => 'header'}
          %h1=stop[:name]
          %h3="Towards #{stop[:towards]}"
        %div{'data-role' => 'content'}
          %ol.buses
            - stop[:buses].each do |bus|
              %li.bus
                =bus[:route]
                =bus[:direction]
                =bus[:due]
        %div{'data-role' => 'footer'}
          %a{:href => '#stop-list'} Back to My Stops
